#d1, #d2{
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  border: 20px solid #222;
  border-radius: 10px;
}

#d1{
  height: 200px;
  border-radius: 100%;
}

#d2{
  /* 
    Esq. Sup | Dir. Sup | Dir. Inf | Esq. Inf  
    Caso utilize apenas dois parâmetros a sintáxe seria: Esq. Sup e Dir. Inf | Dir. Sup e Esq. Inf
  */
  border-radius: 0px 20px 0px 40px;
}