/* 
  Cada lado das bordas podem ser configurados separadamente.
  Podem ser usados configurações individuais ou através de uma metaconfiguração.
*/
p{
  width: 300px;
  padding: 10px;
  border-top: #000 solid 20px;
  border-bottom: #f00 dotted 20px;
  border-right: #00f double 20px;
  border-left: #0f0 groove 20px;

  border-top-width: 10px;
}