body{
  padding-top: 10px;
}

a{
  text-decoration: none;
  color: #ddd;
  font-size: 30px;
  padding: 10px;
  background-color: #09f;
  border-radius: 10px;
}

a:hover{
  color: #fff;
  background-color: #2bf;
}