img{
  width: 500px;
}

/* orientation: portrait ou orientation: landscape indica a orietação da tela do dispositivo */
@media screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) {
  body{
    background: #09f;
  }
}

@media screen and (min-width: 401px) and (max-width: 800px) and (orientation: portrait) {
  body{
    background: #09f;
  }

  img{
    width: 100%;
  }
}